<div class="list-group">
    <a (click) = "selectCategory()"
    [class.active] = "displayAll"
    class="list-group-item list-group-item-action">Tüm Kategoriler</a>

    <!-- class binding'de displayAll false değer döndürdüyse selectedCategory ve liste üzerinden gelen itemin idsini birbirine eşitliyoruz -->
    <!-- bunun sonucunda ilgili class'a eleman eklenir -->
    <a *ngFor="let item of categories"
    [class.active] = "!displayAll && selectedCategory.id == item.id"
    href="#" (click) = "selectCategory(item)"
    class="list-group-item list-group-item-action">{{ item.name }}</a>
</div>