<h1>Film Ekle</h1>
<form #form = "ngForm" (ngSubmit)="createMovie()" [formGroup]="movieForm">
    <div class="mb-3">
        <label for="title" class="form-label">Başlık</label>
        <input type="text" name="title" class="form-control" formControlName = "title">
        <div class="alert alert-danger mt-1" *ngIf="movieForm.get('title').invalid && movieForm.get('title').touched">
            <p *ngIf="movieForm.get('title').errors['required']">Bu Alanın Doldurulması Zorunludur!</p>
            <p *ngIf="movieForm.get('title').errors['minlength']">Bu Alana Minimum 3 Karakter Girmelisiniz!</p>
        </div>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Açıklama</label>
        <textarea name="description" class="form-control" formControlName = "description"></textarea>
        <div class="alert alert-danger mt-1" *ngIf="movieForm.get('description').invalid && movieForm.get('description').touched">
            <p *ngIf="movieForm.get('description').errors['required']">Bu Alanın Doldurulması Zorunludur!</p>
            <p *ngIf="movieForm.get('description').errors['minlength']">Bu Alana Minimum 20 Karakter Girmelisiniz!</p>
        </div>
    </div>

    <div class="mb-3">
        <label for="imageUrl" class="form-label">Resim Yolu</label>
        <input type="text" name="imageUrl" class="form-control" formControlName = "imageUrl" />
        <div class="alert alert-danger mt-1" *ngIf="movieForm.get('imageUrl').invalid && movieForm.get('imageUrl').touched">
            <p>Bu Alanın Doldurulması Zorunludur!</p>
        </div>
    </div>

    <div class="mb-3">
        <label for="categoryId" class="form-label">Kategori</label>
        <select name="categoryId" class="form-select" formControlName = "categoryId">
            <option value="">Kategori Seçiniz</option>
            <option *ngFor="let item of categories" [value] = "item.id">{{ item.name | titlecase }}</option>
        </select>
        <div class="alert alert-danger mt-1" *ngIf="movieForm.get('imageUrl').invalid && movieForm.get('imageUrl').touched">
            <p>Bu Alanın Seçilmesi Zorunludur!</p>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-dark">Ekle</button>
    <button class="btn btn-outline-success m-3" (click)="clearForm()">Temizle</button>
</form>